{{ define "main" }}
<main class="album">
  <h1>{{ .Title }}</h1>
  {{ with .Params.description }}
    <p class="album-desc">{{ . }}</p>
  {{ end }}

    <div class="photo-grid">
    {{ range .Params.photos }}
      {{ $src := .image }}
      {{ if not (hasPrefix $src "/") }}
        {{ $src = printf "/uploads/albums/%s" $src }}
      {{ end }}

      <figure class="photo-item">
        <img src="{{ $src | relURL }}" alt="{{ .title }}">
        {{ if or .title .desc }}
          <figcaption>
            {{ if .title }}<strong>{{ .title }}</strong>{{ end }}
            {{ if .desc }}<div class="photo-desc">{{ .desc }}</div>{{ end }}
          </figcaption>
        {{ end }}
      </figure>
    {{ end }}
  </div>
<script src="https://giscus.app/client.js"
        data-repo="lgyz123/GaoZubin"
        data-repo-id="R_kgDOQbM8gg"
        data-category="[在此输入分类名]"
        data-category-id="[在此输入分类 ID]"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="zh-CN"
        crossorigin="anonymous"
        async>
</script>
</main>
{{ end }}

